<div class="row">
    <div class="col-sm">
        <div class="btn-group mt-3 mb-3" role="group" aria-label="Basic outlined example">
            <button type="submit" class="btn btn-outline-dark btn-lg" name="AddI" (click)="addItem()">Adicionar Item</button>
            <button type="submit" class="btn btn-outline-dark btn-lg" name="LimpL" (click)="clearList()">Limpar Lista</button>
            <button type="submit" class="btn btn-outline-dark btn-lg" name="Calc" (click)="calculate()">Calcular</button>
        </div>
    </div>
</div>
<hr>
<div class="row text-sm-start ps-3 pe-3 mb-3">
    <div class="col-sm">
        <ul class="list-group list-group-numbered" *ngIf="items.length > 0">
            <li *ngFor="let item of items; let i = index" class="list-group-item">
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" [(ngModel)]="item.nome" placeholder="Nome do item">
                </div>
                <div class="col">
                  <input type="number" class="form-control" [(ngModel)]="item.quantidade" placeholder="Quantidade de itens">
                </div>
                <div class="col">
                  <input type="number" class="form-control" [(ngModel)]="item.tempo" placeholder="Tempo de uso (dias)">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-dark btn-lg" name="RemovI" (click)="removeItem(i)">Remover Item</button>
                </div>
              </div>
            </li>
        </ul>
        <div *ngIf="items.length == 0" class="text-center">
            <p>A lista está vazia.</p>
        </div>
        <div class="my-3" *ngIf="totalTempo > 0">
            Tempo total de uso: {{ totalTempo }} dias.
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-2 ps-5">
        <p>Total:</p>
    </div>
    <div class="col-sm pe-5">
        <input type="number" name="resup" class="form-control mb-3" readonly>
    </div>
</div>
